.advantages {
  text-align: center;
}

.advantages__text {
  color: @dark-navy;
  font-size: 24px;
  line-height: 32px;
  font-weight: 300;
}

.advantages__list {
  background-color: @bg-gray;
}

.advantages__list-title {
  color: @black;
  font-size: 18px;
  font-weight: 700;
  margin-top: 20px;
}

.advantages__list-definition {
  color: @dark-navy;
  font-size: 14px;
  line-height: 24px;
  margin-left: 0;
}
