.download--wrap {
  margin-top: -66px;
  padding-top: 40px;
  padding-bottom: 16px;
  background-color: @bg-dark;
  background-image: url("../img/iphone-hand-mobile@1x.png"),
    url("../img/bg-back-mobile@1x.jpg");

  background-size: 258px auto, 320px auto;
  background-repeat: no-repeat;
  background-position: calc(50vw - 160px) 176px, top;

  @media (min-width: @tablet-width) {
    margin-top: -110px;
    padding-bottom: 93px;

    background-image: url("../img/iphone-hand-tablet@1x.png"),
      url("../img/bg-back-tablet@1x.jpg");

    background-size: 700px auto, 1200px auto;
    background-repeat: no-repeat;
    background-position: calc(50vw - 350px) bottom, top;
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/iphone-hand-desktop@1x.png"),
      url("../img/bg-back-desktop@1x.jpg");

    background-size: 1050px auto, 2560px auto;
    background-repeat: no-repeat;
    background-position: calc(50vw - 450px) bottom, top;
  }
}

.download {
  position: relative;
  margin-top: 0;
  color: @white;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: 300px;
  }
}

.download__title {
  margin-top: 49px;
  padding-bottom: 317px;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    margin-top: 162px;
    margin-bottom: 30px;
    padding-bottom: 0;
    font-size: 40px;
    line-height: 49px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 178px;
    font-size: 50px;
    line-height: 60px;
    padding-bottom: 22px;
  }
}

.download__platform-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  margin-top: 33px;

  @media (min-width: @tablet-width) {
    margin-top: 45px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 67px;
  }
}

.download__platform-item {
  margin-left: 18px;
  margin-right: 18px;
}

.download__text {
  margin-top: 16px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;

  @media (min-width: @tablet-width) {
    margin-top: 30px;
    font-size: 18px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 50px;
  }
}
