.download {
  margin-top: 0;
  color: #ffffff;
  text-align: center;
  background-color: @bg-dark;
}

.download__title {
  margin-top: 0;
  font-size: 24px;
  font-weight: 300;
  line-height: 48px;
}

.download__text {
  font-size: 14px;
  line-height: 24px;
}
