.effect {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    padding-top: 50px;

    padding-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    background-color: @bg-gray;
    margin-top: 0;
    padding-top: 124px;
    padding-bottom: 114px;
  }
}

.effect__title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin-bottom: 0;
  width: 290px;
  position: relative;
  margin-left: 309px;

  @media (min-width: @desktop-width) {
    margin-top: 0;
    width: 530px;
    margin-left: 365px;
  }
}

.effect__title::before {
  content: "";
  top: -37px;
  left: -308px;
  width: 238px;
  height: 276px;
  position: absolute;

  background-image: url("../img/icon-timer.svg");
  background-size: 238px auto;
  background-repeat: no-repeat;

  @media (min-width: @desktop-width) {
    top: -91px;
    left: -365px;
    width: 298px;
    height: 345px;
    position: absolute;

    background-size: 298px auto;
  }
}

.effect__title::after {
  content: "24";
  position: absolute;
  top: 18px;
  left: -290px;
  width: 202px;
  height: 202px;
  color: @pink;
  background-color: @white;
  border: 13px solid @pink;
  border-radius: 50%;
  padding-top: 66px;
  padding-left: 32px;

  font-size: 96px;

  @media (min-width: @desktop-width) {
    top: -22px;
    left: -343px;
    width: 253px;
    height: 253px;
    border: 16px solid @pink;
    padding-top: 87px;
    padding-left: 41px;

    font-size: 120px;
  }
}

.effect__text {
  color: @dark-navy;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 9px;
  width: 300px;
  margin-left: 309px;

  @media (min-width: @desktop-width) {
    width: 530px;
    font-size: 18px;
    line-height: 30px;
    margin-top: 21px;
    margin-bottom: 30px;
    margin-left: 365px;
  }
}

.effect__link {
  font-size: 14px;
  padding-top: 0;
  color: @pink;
  text-decoration: underline;
  margin-left: 309px;

  @media (min-width: @desktop-width) {
    width: 530px;
    font-size: 18px;
    line-height: 30px;
    margin-left: 365px;
  }
}
