.page-header {
  background-color: @border-shadow-dark;
  color: @white;
  padding-top: 11px;
  padding-bottom: 16px;
  z-index: 2;
  position: relative;

  @media (min-width: @tablet-width) {
    padding-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 26px;
  }
}

.page-header--nojs {
  background-color: @dark-navy;

  @media (min-width: @desktop-width) {
    background-color: @border-shadow-dark;
  }
}

.page-header--bg {
  background-color: @dark-navy;
  margin-top: -20px;
  padding-top: 20px;
  margin-bottom: -16px;
  margin-left: calc(140px - 50vw);
  margin-right: calc(140px - 50vw);
  padding-left: calc(50vw - 140px);
  padding-right: calc(50vw - 140px);

  @media (min-width: @tablet-width) {
    margin-bottom: -54px;
    margin-left: calc(310px - 50vw);
    margin-right: calc(310px - 50vw);
    padding-left: calc(50vw - 310px);
    padding-right: calc(50vw - 310px);
  }
}

.page-header__logo {
  margin-top: 10px;
  min-width: 200px;
  height: 30px;

  @media (min-width: @tablet-width) {
    min-height: 30px;
    min-width: 500px;
  }

  @media (min-width: @desktop-width) {
    min-width: 100px;
  }
}

.page-header__logo svg {
  color: @white;
}

.page-header__logo:hover svg,
.page-header__logo:focus svg {
  color: @pink;
}

.page-header__logo:active svg {
  color: @white;
  opacity: 0.3;
}

.page-header__logo-mobile {
  display: inline-block;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.page-header__logo-tablet {
  display: none;

  @media (min-width: @tablet-width) {
    display: inline-block;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.page-header__logo-desktop {
  display: none;

  @media (min-width: @desktop-width) {
    display: inline-block;
  }
}
