.page-form {
  margin-top: 0;
  color: @dark-navy;
}

.page-form__title {
  margin-top: 0;
  font-size: 24px;
  text-align: center;
  font-weight: 300;
  line-height: 28px;
  color: @white;
  background-color: @bg-dark;
}

.page-form__text {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center;
  line-height: 30px;
  font-weight: 500;
  color: @bg-dark;
}

.appointment {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

.appointment input[type="text"],
.appointment input[type="email"],
.appointment input[type="tel"],
.appointment textarea {
  box-sizing: border-box;
  font-family: inherit;
  font-size: 18px;
  line-height: 30px;

  padding-top: 18px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 18px;

  width: 280px;

  color: @dark-navy;
  border-radius: 4px;
  border: solid 2px @bg-gray;
  background-color: @white;
}

@media (min-width: @tablet-width) {
  .appointment input[type="text"],
  .appointment input[type="email"],
  .appointment input[type="tel"],
  .appointment textarea {
    flex-grow: 1;
    width: 70%;
  }
}

@media (min-width: @desktop-width) {
  .appointment input[type="text"],
  .appointment input[type="email"],
  .appointment input[type="tel"],
  .appointment textarea {
    flex-grow: 1;
    min-width: 300px;
  }
}

@media (min-width: @tablet-width) {
  .appointment__name-form {
    order: -3;
    width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .appointment__name-form {
    width: 50%;
  }
}

.appointment input::placeholder,
.appointment textarea::placeholder {
  color: @dark-navy;
}

.appointment input:not(:disabled):hover,
.appointment textarea:not(:disabled):hover {
  border: solid 2px @dark-navy;
}

.appointment input:not(:disabled):focus,
.appointment textarea:not(:disabled):focus {
  border: solid 2px @pink;
}

.appointment input:invalid,
.appointment textarea:invalid {
  border: solid 2px @pink;
}

.appointment__item {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: @tablet-width) {
  .appointment__item {
    justify-content: space-between;
    align-items: center;
  }
}

.feedback__item label,
.appointment__item label {
  padding-left: 20px;
  display: block;
  color: @pink;
  text-transform: uppercase;
  font-size: 14px;
}

@media (min-width: @tablet-width) {
  .feedback__item label,
  .appointment__item label {
    padding-left: 0;
    padding-right: 20px;
  }
}

.feedback__item:disabled + label,
.appointment__item:disabled + label {
  opacity: 0.4;
  cursor: default;
}

.filter {
  border: none;
}

@media (min-width: @tablet-width) {
  .filter {
    border: 2px solid @disabled-gray;
    border-radius: 4px;
  }
}

@media (min-width: @tablet-width) {
  .filter__achievement-form {
    width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .filter__achievement {
    background-color: @transparent;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

.filter__option {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 36px;
}

@media (min-width: @desktop-width) {
  .filter__option {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 36px;
    width: 280px;
  }
}

.filter__option label {
  position: relative;

  display: block;
  padding-top: 12px;
  padding-left: 20px;
  cursor: pointer;
  user-select: none;
}

@media (min-width: @desktop-width) {
  .filter__option:first-child {
    order: 1;
  }
}

@media (min-width: @desktop-width) {
  .filter__option:nth-child(2) {
    order: 4;
  }
}

@media (min-width: @desktop-width) {
  .filter__option:nth-child(3) {
    order: 2;
  }
}

@media (min-width: @desktop-width) {
  .filter__option:nth-child(4) {
    order: 5;
  }
}

@media (min-width: @desktop-width) {
  .filter__option:nth-child(5) {
    order: 3;
  }
}

@media (min-width: @desktop-width) {
  .filter__option:nth-child(6) {
    order: 6;
  }
}

.filter__input-radio + label::before {
  content: "";

  position: absolute;
  left: -35px;
  top: 6px;

  width: 34px;
  height: 34px;
  background-color: @white;

  border: 2px solid @disabled-gray;
  border-radius: 50%;
}

.filter__input-radio:checked + label::after {
  content: "";

  position: absolute;
  left: -26px;
  top: 15px;

  width: 16px;
  height: 16px;

  background-color: @pink;
  border-radius: 50%;
}

.filter__input-checkbox + label::before {
  content: "";

  position: absolute;
  left: -35px;
  top: 6px;

  width: 35px;
  height: 35px;

  background-color: @white;
  border: 2px solid @disabled-gray;
  border-radius: 2px;
}

.filter__input-checkbox:checked + label::after {
  content: "";

  position: absolute;
  left: -24px;
  top: 18px;

  width: 18px;
  height: 8px;

  border-left: 2px solid @pink;
  border-bottom: 2px solid @pink;

  transform: rotate(-45deg);
}

.filter__input:disabled + label {
  opacity: 0.4;
  cursor: default;
}

.filter__input-checkbox:not(:disabled):hover + label::before,
.filter__input-checkbox:not(:disabled):focus + label::before,
.filter__input-radio:not(:disabled):hover + label::before,
.filter__input-radio:not(:disabled):focus + label::before {
  border: 2px solid @dark-navy;
}

.filter__input-checkbox:not(:disabled):active + label::before,
.filter__input-radio:not(:disabled):active + label::before {
  border: 2px solid @pink;
}

.filter__title {
  text-align: center;
  color: @pink;
  text-transform: uppercase;
  font-size: 14px;
}

.appointment__describe-form {
  width: 100%;
  flex-grow: 1;
  padding: 0;
}

.feedback__address-form {
  padding-left: 0;
  margin-left: 0;
}

@media (min-width: @tablet-width) {
  .feedback__address-form {
    order: -1;
    width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .feedback__address-form-wrap {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: @tablet-width) {
  .feedback__address-form .visually-hidden {
    position: static;
    width: auto;
  }
}

@media (min-width: @tablet-width) {
  .feedback__item {
    display: flex;
    flex-grow: 1;
    width: 100%;
    flex-direction: column-reverse;
  }
}

@media (min-width: @tablet-width) {
  .feedback__item input[type="text"],
  .feedback__item input[type="email"],
  .feedback__item input[type="tel"],
  .feedback__item textarea {
    flex-grow: 1;
    width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .feedback__item input[type="text"],
  .feedback__item input[type="email"],
  .feedback__item input[type="tel"],
  .feedback__item textarea {
    flex-grow: 1;
    width: 400px;
  }
}

.feedback__item label {
  display: block;
  color: @pink;
  text-transform: uppercase;
  font-size: 14px;
}

@media (min-width: @tablet-width) {
  .filter__app-form {
    display: flex;
    flex-grow: 1;
    width: 100%;
    order: -2;
    background-color: @transparent;
  }
}

@media (min-width: @desktop-width) {
  .filter__app-form {
    flex-grow: 1;
    width: 40%;
  }
}

.appointment__item-text label {
  display: block;
  text-align: center;
  color: @pink;
  text-transform: uppercase;
  font-size: 14px;
}

.button__wrap {
  text-align: center;
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .button__wrap {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
}

.form__desc {
  display: block;
  flex-grow: 1;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
}

@media (min-width: @tablet-width) {
  .form__desc {
    text-align: right;
  }
}

.asterisk {
  color: @pink;
}
