.page-form {
  margin-top: 0;
  text-align: center;
}

.page-form__desk {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 45px;

  @media (min-width: @tablet-width) {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 63px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 16px;
    margin-bottom: 46px;
  }
}

.page-form__desk-wrap {
  display: block;
  flex-grow: 1;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  padding-top: 24px;

  @media (min-width: @tablet-width) {
    text-align: right;
  }
}

.page-form__button {
  text-transform: uppercase;
  width: 280px;
  height: 63px;
  font-size: 18px;
  color: @white;
  border: none;
  background-color: @bright-green;
  border-radius: 4px;

  @media (min-width: @tablet-width) {
    width: 300px;
  }
}

.page-form__button:not(:disabled):focus,
.page-form__button:not(:disabled):hover {
  background-color: @dark-green;
}

.page-form__button:not(:disabled):active {
  background-color: @dark-green;
  color: @white-opacity;
}

.page-form__button:disabled {
  background-color: @disabled-gray;
  cursor: default;
}

.page-form__desc-hidden {
  display: none;

  @media (min-width: @desktop-width) {
    display: inline-block;
  }
}

.page-form__asterisk {
  color: @pink;
  font-size: 14px;
  font-weight: 700;
  line-height: 5px;
  vertical-align: text-bottom;
}
