.reviews {
  text-align: center;
}

.reviews__list {
  display: none;
}

.reviews__list-current {
  display: block;
}

.reviews__name {
  font-style: normal;
  color: @black;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.reviews__text {
  color: @dark-navy;
  font-size: 14px;
  line-height: 30px;
}
