@bg-dark: #1d2631;
@bg-dark-opacity: rgba(29, 38, 49, 0.3);
@bg-gray: #f2f2f2;
@gray: #f6f6f6;
@disabled-gray: #e5e5e5;
@dark-navy: #283645;
@pink: #d22856;
@cross-red: #f25b26;
@pink-opacity: rgba(210, 40, 86, 0.3);
@pink-dark: #582c41;
@white: #ffffff;
@black: #000000;
@white-opacity: rgba(255, 255, 255, 0.3);
@bright-green: #2aab6d;
@check-green: #3dc644;
@dark-green: #1c9b5e;
@border-shadow-light: rgba(72, 84, 97, 1);
@border-shadow-dark: rgba(0, 0, 0, 0.3);
@opacity-01: rgba(0, 0, 0, 0.1);

@transparent: rgba(255, 255, 255, 0);

@tablet-width: 660px;
@desktop-width: 960px;
@mobile-width-only: 659px;
@mobile-tablet-width-only: 959px;

@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;
