.page-header {
  background-color: @dark-navy;
  color: @white;
  font-weight: 700;
  font-style: 18px;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
}

.site-list__item {
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  border-top: 1px solid @border-shadow-light;
  border-bottom: 1px solid @border-shadow-dark;
}

.site-list__item a {
  color: @white;
  display: block;
}
